PORT=3001
WHATSAPP_TOKEN=tu_whatsapp_access_token
VERIFY_TOKEN=tu_verify_token_personalizado
PHONE_NUMBER_ID=tu_phone_number_id
OPENAI_API_KEY=tu_openai_api_key
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=papa
